
#headings {
    display: flex;
    flex-direction: row;
    gap: 2em;
    left: 0;
}

/* #headline {
    text-align: start;
    left: 0;
} */

/* #groupCard {
    display: flex;
    flex-direction: row;
    width: 40em;
    margin-top: 2em;
    height: max-content;

} */

/* #groupList {

    text-decoration: none;
    color: #06293A;
    font-weight: 600;

    width: 40em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3em 15em;
} */

/* #img {
    height: 15em;
    width: 25em;
} */

#date{
    margin: 0;
    text-align: start;
}

#name {
    margin: .25em .25em;
    
}
/* 
#location {
    margin: 0;
    padding: 0;
    display: flex;
    text-align: start;
} */

/* #info {
    margin: 0 .25em;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    text-align: left;
} */

/* #sideInfo {
    
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    margin-top: 1em;
    padding: 0;
} */


/* #about {
    margin: 0;
    padding: 0;
    text-align: left;
} */