#eventList * {
    text-decoration: none;
    color: #06293A;
    font-weight: 600;
}

#topLinks{
    
    display: flex;
    flex-direction: column;
}

#headings {
    display: flex;
    flex-direction: row;
    gap: 3em;
    align-items: start;
    justify-content: start;
}

#headline {
    text-align: start;
    margin-top: 2em;
}

#eventList {
    /* width: auto; */
    text-decoration: none;
    color: #06293A;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    
}

#eventCard {
    display: flex;
    flex-direction: column;
    width: 40em;
    height: max-content;

}
#top {
    display: flex;
    flex-direction: row;
    margin-top: 1em;

}

#img {
    height: 15em;
    width: 25em;
}

#date{
    margin: 0;
    text-align: start;
}

#name {
    margin: .25em .25em;
    
}

#location {
    margin: 0;
    padding: 0;
    display: flex;
    text-align: start;
}

#about {
    margin: 1em;
}

#info {
    margin: 0 .25em;
    padding: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
}