/* #lp{
    background: #93b4c6;
    display: flex;
    flex-direction: column;
}

#pageIntro {
    display: flex;
    flex-direction: row;
    padding: 2em 6em;
    margin-top: 5em;
    height: 20em;
    justify-content: center; 
    align-items: center;
} */

/* #info {
    margin: 0 .25em;
    padding: 0;
    text-align: left;
    /* display: flex;
    flex-direction: column; 
    justify-content: center;
}

#info h4 {
    
    margin-top: 2em;
} */

/* #works {
    text-align: center;
}

#img img{
    height: 20em;
    width: 25em;
} */

/* h3 {
    text-align: center;
}

#toDoCards {
    display: flex;
    justify-content: space-between;
    padding: 2em 15em;
} */

/* #cards {
    display: flex;
    flex-direction: row;
} */

/* #toDoCards img {
    height: 8em;
    width: 10em;

}

#links {
    text-decoration: none;
}

.deactivated {
    color: gray;
} */