/* TODO: Add sitewide styles */
*{
    padding: 0;
    margin: 0;
    font-family: Century 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

html {
    background: #eef1f3;

}

button {
    border-style: none;
    background: #144458;
    color: #e6ebed;
    font-weight: 700;
}
