

#nav {
    background: #1c3c4b;
    padding: .5em;
    margin: 0;
    border-bottom: .25em solid  #D9A3A0;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
ul #buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    height: min-content;
    background: #1c3c4b;
    gap: 2em;
    
}

li #home{
    left:0;
    background: #1c3c4b;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1c3c4b;
    color: #d9a3a0;
}

#navSideBttn {
    display: flex;
    justify-content: space-between;
    height: 2em;
    width: 6em;
}


#login , #signUp{
    height: 2em;
    width: 6em;
}

h4 {
    text-align: center;
}


#login, #signUp {
    text-decoration: none;
    height: 2.5em;
    width: 6em;
    justify-content: center;

}

.profile-dropDown {
    color: #D9A3A0;
}

/* 
.profile-dropdown {
    background-color: #fff;
    list-style-type:none;
    position:fixed;
    top: 3rem;
    right: 0;
    border: 1px solid black;
    user-select: none;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile-dropdown li {
    margin: .25rem;
} */